DEBUG=False
SECRET_KEY=CHANGE_ME_WITH_A_LONG_RANDOM_VALUE
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000
SECURE_SSL_REDIRECT=False

DB_NAME=ticketing_db
DB_USER=ticketing_user
DB_PASSWORD=CHANGE_ME
DB_HOST=db
DB_PORT=5432

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

LDAP_SERVER=ldaps://ad.example.internal:636
LDAP_BIND_DN=CHANGE_ME
LDAP_BIND_PW=CHANGE_ME
LDAP_BASE=dc=example,dc=internal
LDAP_ADMIN_GROUP_DN=cn=IT_Admins,cn=Users,dc=example,dc=internal
LDAP_REQUIRE_CERT=True

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=CHANGE_ME
EMAIL_HOST_PASSWORD=CHANGE_ME
ADMIN_EMAIL=admin@example.com

CHROMA_HOST=chroma
CHROMA_PORT=8000
OLLAMA_URL=http://ollama:11434
MODEL_NAME=llama3.1:8b
EMBED_MODEL=nomic-embed-text
COLLECTION_NAME=ticket-history

ALLOWED_TARGETS_JSON={"local-lab":"127.0.0.1"}
ALLOWED_SERVICES_JSON={"web":"nginx"}
ANSIBLE_REMOTE_USER=automation
