# Configuración Global de Django
DEBUG=False
DJANGO_SECRET_KEY=cambiame_por_una_cadena_aleatoria_muy_larga
ALLOWED_HOSTS=localhost,127.0.0.1,web

# Base de Datos (PostgreSQL)
DB_NAME=ticketing_db
DB_USER=postgres_user
DB_PASSWORD=tu_password_seguro_aqui
DB_HOST=db
DB_PORT=5432

# Broker (Redis)
REDIS_URL=redis://redis:6379/0

# Integración Active Directory (Samba 4)
LDAP_SERVER=ldap://ad.proyecto.local
LDAP_BIND_DN=ldapbind@PROYECTO.LOCAL
LDAP_BIND_PW=Passw0rd!
LDAP_BASE=dc=proyecto,dc=local

# Configuración de Correo Electrónico
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=tu_correo@gmail.com
EMAIL_HOST_PASSWORD=tu_token_de_aplicacion_aqui
ADMIN_EMAIL=tu_correo_admin@gmail.com

# Infraestructura de IA Local
CHROMA_URL=http://chroma:8000
OLLAMA_URL=http://ollama:11434
MODEL_NAME=llama3:latest
EMBED_MODEL=nomic-embed-text:latest
COLLECTION_NAME=default