Django>=5.2,<5.3
gunicorn>=23,<24
psycopg[binary]>=3.2,<3.3
redis>=5,<6
celery>=5.4,<6
django-auth-ldap>=5,<6
ansible-runner>=2.4,<3
whitenoise>=6.8,<7
ollama>=0.4,<1
chromadb==0.4.24
pydantic>=2.10,<3